html, body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
#page_header {
    height: 85px;
    width: 100%;
    background-color: #663366;
}
#home_link img {
    padding-top: 12px;
    padding-left: 12px;
}

#page_navigation {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #663366;
    text-align: center;
}
#page_navigation ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 100%;
    display: inline-block;
}
#page_navigation ol > li {
    display: block;
    float: left;
}
#page_navigation ol > li:first-child > a {
    border-left: 1px solid #663366;
}
#page_navigation ol > li > a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    border-right: 1px solid #663366;
    color: #663366;
    font-weight: bold;
    font-size: large;
}
#page_navigation ol > li > a:hover {
    background-color: #663366;
    color: #FFFFFF;
}

#page_content {
    padding: 15px;
}

.form {
    margin: 15px;
    padding: 10px;
    text-align: left;
}
.form button, .form input, .form textarea {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #555555;
    margin-left: 2em;
    width: 30em;
    margin-bottom: 5px;
}
.form textarea {
    height: 15em;
    width: 31em;
}
.form label {
    font-style: italic;
    display: block;
}
.form button {
    margin-top: 10px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
#main-footer {
    height: 100px;
    width: 100%;
    background-color: #663366;
}
#footer-bottom{
    background-color: rgba(255,255,255,0);
    padding: 15px 0 5px;
}
#footer-info a{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
.container{
    position: relative;
    text-align: left;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.et-social-icons{
    float: right;
}
.et-social-icons li{
    display: inline-block;
    margin-left: 20px;
}
.et-social-icon a{
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 300ms ease 0s;
}
#footer-info{
    float: left;
    padding-bottom: 10px;
    text-align: left;

}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.grid-adding {
    display: grid;
    grid-template-areas: 'title titleinput '
    'message messageinput ';
    grid-gap: 10px;

}
.item1 { grid-area: title; }
.item2 { grid-area: titleinput; }
.item3 { grid-area: message; }
.item4 { grid-area: messageinput; }

.button{
    background-color: #663366;
    padding: 15px 7px ;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 37%;
}
.announcementForm{
    margin-left: 25%;
    padding: 8px;
    outline: #663366 solid 10px;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.text{
    margin-left: 37%;
}


.buttoncrud{
    background-color: #663366;
    padding: 15px 7px ;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 2%;
}
